a{
    text-decoration: none;
    color: black;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; height: 80px; padding: 0;
    position: fixed; top: 0; left: 0;right: 0;   z-index: 10 ;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgb(240, 237, 237);
}

.labels{
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    margin-left: 30px;
    
}

div.labels > a{
    text-decoration: none;
    color: rgb(73, 72, 72);
    font-size: 14px;
    font-weight: 700;
}

.searchBar-container{
    height: 40px;
    box-sizing: border-box;
    padding: 0;
    margin-left: 130px;
    border: 1px solid rgb(226, 222, 222);
    display: flex;
    align-items: center;
    border-radius: 6px;
  
}


input[type="search"]{
    margin: 0px;
    border: 1px solid white;
    width: 320px;
    font-size: 14px;
    margin-left: 20px;
    
}

input[type="search"]:focus{
   outline: none;
   border-color: white;

    
}
.material-symbols-outlined {
   margin-left: 19px;
   font-size: 19px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' ,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.profile-logo{
    margin-left: 0;
    font-size: 22px;
}

div.nav-logos > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.logo-labels{
    font-size: 13px;
}


.nav-logo{
    cursor: pointer;
    height: 100%;
}

.nav-logos{
  
    margin-right: 20px;
    margin-left: 8px;
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    
}